<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 2014巴西之旅</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/MyJS/myjquery1-0.js"></script>
        <link href="~/Content/animate.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("We Are One", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu" style=" font-size: 1.3em;font-weight: 600;margin: 0 0 5px;padding: 0;text-align: right;">
                            <li id="hot">@Html.ActionLink("头条", "Hot", "Home")</li>
                            <li id="search">@Html.ActionLink("搜索", "Search", "Home")</li>
                            <li id="inTime">@Html.ActionLink("赛程", "InTime", "Home")</li>
                            <li id="about">@Html.ActionLink("关于", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 2014巴西之旅</p>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
           var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
           document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2847eec185aa0cd4c028390c5f83cb1d' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </body>
</html>
